.blobs
blobs/*
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
config/dev.yml
config/private.yml
config/settings.yml
*credentials.yml
dev_releases
releases/**/*.tgz
releases/*.tgz
src_local/
tmp
my*.yml
*.swp
*~


release
.DS_Store
*#
#*


.idea
.vagrant
